$white: #ffffff;
$black: #000000;
$medium-black: #454545;
$grey: #e9e9e9;
$medium-grey: #dcdddf;
$dark-grey: #dddddd;
$heading-black: #191414;

$green: #003B49;
$blue: #3A4BFB;
$grey: #B6B6B6;
$red: #FF0000;

$accordion-green1: #104854;
$accordion-green2: #20545F;
$accordion-green3: #406C76;
$accordion-green4: #809DA4;