.post-box {
	position: relative;
	width: 100%;

	.image-container {
		.image-wrapper {
			padding-top: 55%;
			position: relative;
			outline: none;
			overflow: hidden;
			background: #e0e0e0;
		}
	}

	.text-container {
		position: relative;
		outline: none;
		padding: 20px 0px 0px;

		.post-title {
			margin-top: 7px;
			margin-bottom: 0px;
			font-size: 20px;
			line-height: 24px;

			@include media-breakpoint-up(lg) {
				font-size: 24px;
				line-height: 28px;
				margin-top: 3px;
			}
		}

		.post-category {
			color: $blue;
			font-size: 12px;
			line-height: 12px;
			font-weight: 500;
			text-transform: uppercase;

			@include media-breakpoint-up(lg) {
				font-size: 14px;
				line-height: 28px;
			}

			a {
				text-decoration: none;
			}
		}

		.post-date {
		    margin-top: 15px;
    		display: inline-block;
		}

		.post-excerpt {
			font-size: 16px;
			line-height: 24px;
			margin-top: 15px;

			@include media-breakpoint-up(lg) {
				font-size: 18px;
				line-height: 28px;
			}
		}

		.cta {
			margin-top: 30px;
		}
	}

	&.page {
		.text-container {
			.post-title {
				color: $blue;
				font-size: 12px;
				line-height: 12px;
				font-weight: 500;
				text-transform: uppercase;

				@include media-breakpoint-up(lg) {
					font-size: 14px;
					line-height: 28px;
				}
			}

			.post-excerpt {
				margin-top: 3px;
				margin-bottom: 0px;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;

				@include media-breakpoint-up(lg) {
					font-size: 24px;
					line-height: 28px;	
				}
			}
		}
	}

	&.type-people {

		.text-container {
			font-size: 15px;
			line-height: 22px;
			padding-top: 20px;
		}

		.post-title {
			font-size: inherit;
			line-height: inherit;
			font-weight: 700;
		}

		.designation {
			font-style: italic;

			&+.department,
			&+.location {
				margin-top: 15px;
			}
		}

		.linkedin-link {
			margin-top: 20px;
			display: inline-block;
		}
	}

	&.type-office {
		font-size: 15px;
		line-height: 22px;

		.text-container {
			padding-top: 0px;
		}

		.city {
			font-size: 15px;
			line-height: 22px;
			font-weight: 700;
		}

		.office-name {
			font-style: italic;
			margin-bottom: 30px;
		}

		.address {
			text-indent: -20px;
			padding-left: 20px;
		}

		span {
			color: $blue;
		}

		.link {
			font-weight: 700;
			margin-top: 30px;
			display: flex;

			img {
				margin-right: 10px;
			}

			+.link {
				margin-top: 5px;
			}
		}
	}
}