@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    @apply h-full h-full;
}

#app {
    @apply capitalize;
    font-family: Pembroke, sans-serif;
}

:root {
    --primary: #3A4BFB;
    --gradient-from: #003B49;
    --gradient-to: var(--primary);
    --border: #B6B6B6;
}

.main-container {
    @apply w-[1200px] mx-auto;
}
